h1
{
	text-align:center;
}
section
{	
	

	padding:10px;
	
	box-sizing:border-box;
	clear:right;
}
p
{	
	float:right;
	text-align: center;
	
	margin:0;
	width:30%;
	border-left: 1px solid black;
	border-bottom:1px solid black;
	padding:5px;
	box-sizing:border-box;
}
.col1>p
{
	background-color:#FF0000;
}
.col2>p
{
	background-color:#ADFF2F;
}
.col3>p
{
	background-color:#87CEFA;
}
.col1, .col2, .col3
{
	
		background-color:LightSteelBlue;
		float:left;
		width:30%;
		height:215;
		border:1px solid black;
		margin-right:2%;
		
		box-sizing:border-box;
		margin-bottom: 50px;
}
.col1
{
		margin-left:3%
}
.col3
{
		margin-right:0;
}
@media (max-width:991px) and (min-width:768px){
.col1, .col2 {
width:45%;
}
.col3{
width:92%;
margin-left:3%;
margin-right:5%;
}
.col2 {
margin-right:0;

}
}
@media (max-width:767px){
.col1, .col2, .col3{
width:94%;
margin-right:3%;
margin-left:3%;
}

}
}
